<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Editar Evento</title>
</head>
<body>
  <h2>Editar Evento</h2>
  <form action="/atualizar" method="post">
    <input type="hidden" name="num_evento" value="{{ evento.num_evento }}">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" value="{{ evento.nome }}" required>

    <label for="data">Data:</label>
    <input type="text" id="text" name="data" value="{{ evento.data }}" required>

    <label for="capacidade">Capacidade:</label>
    <input type="text" id="capacidade" name="capacidade" value="{{ evento.capacidade }}" required>

    <label for="valor">Valor:</label>
    <input type="text" id="valor" name="valor" value="{{ evento.valor }}" required>

    <button type="submit">Atualizar</button>
  </form>
</body>
</html>
